/* src/index.css */
:root {
  --sanguine-brown: #8C363C;
  --buff: #F1D88A;
  --acadia: #170F04;
  --thatch: #B8949C;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--buff);
}

a {
  text-decoration: none;
}
